.card {
  background: #fff;
  border-radius: 2px;
  height: 270px;
  margin: 1rem;
  position: relative;
  width: 270px;
  text-align: left;
}

.card > .img-container {
  height: 60%;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  margin-top: 2px;
  float: left;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
